body {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}

#divForm {
	background-color: #ffff;
	border-radius: 20px 0px 0px 20px;
}

#form {
	margin-top: 5rem;
	margin-bottom: 4rem;
	border-radius: 20px;
	-webkit-box-shadow: -1px 2px 23px -6px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 2px 23px -6px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 2px 23px -6px rgba(0, 0, 0, 0.75);
}

.btn-form {
	color: #FF4B2B;
	font-weight: bold;
	background-color: #ffffff;
	padding: 0.5rem 1rem;
	border-radius: 50px;
	border: 1px solid #FF4B2B;
	margin-right: 6px;
	padding-left: 2rem;
	max-height: 39px;
	padding-right: 2rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}

.btn-form:hover {
	background: #FF4B2B;
	border: 1px solid #cac8c8;
	color: #ffffff;
}

.control-me::after {
	content: "❓";
	font-size: 25px;
}

#agree:checked~.control-me::after {
	content: "✔";
}

#agree-label {
	color: #9E9E9E;
	padding: 0.5rem 1rem;
	border-radius: 50px;
	border: 1px solid #cac8c8;
	margin-right: 6px;
	padding-left: 2rem;
	max-height: 39px;
	padding-right: 2rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-weight: 600;
}

#agree-label:hover {
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
	font-weight: 600;
}

.label-checked {
	background-color: #4caf50;
	color: #ffffff !important;
	font-weight: 600;
	border: 1px solid #ffffff00 !important;
}

.visually-hidden {
	position: absolute;
	left: -100vw;
}

.form-check {
	display: flex !important;
}

.check {
	visibility: hidden;
	position: absolute;
	right: 17px;
	top: 15px;
	color: #BEEE62;
}

.check.active {
	visibility: visible;
}

small {
	color: red;
}

.form-control {
	background-color: #f3f3f3fa !important;
	border: none !important;
	height: calc(1.5em + .75rem + 7px) !important;
}

.input-checked {
	-webkit-box-shadow: 0px 0px 3px 1px rgba(21, 128, 0, 1) !important;
	-moz-box-shadow: 0px 0px 3px 1px rgba(21, 128, 0, 1) !important;
	box-shadow: 0px 0px 3px 1px rgba(21, 128, 0, 1) !important;
	background-color: #f7fdf1 !important;
}

ul.social-buttons {
	margin-bottom: 0;
}

ul.social-buttons li a {
	font-size: 20px;
	line-height: 40px;
	display: block;
	width: 40px;
	height: 40px;
	transition: all 0.3s;
	color: white;
	border-radius: 100%;
	outline: none;
	background-color: #212529;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
	background-color: #ffffff;
	color: #212529;
}

#divInfo {
	background: #FF416C;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 0px 20px 20px 0px;
}

#divInfo p {
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	font-weight: 500;
}

h1 {
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600 !important;
}

.subtitle {
	max-height: 39px;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}
